/target/
**/target/
/benches/concurrent_bench
Cargo.lock

node_modules/

*.dll
*.so
*.dylib

*.exe
*.out
*.app

*.bak
*.tmp
*.swp
*.swo
*.swn
*.s#

.idea/
.vscode/
*.iml

*.log
*.sql
*.sqlite

coverage/
*.lcov

/build/
/dist/
/out/

cpp_bench/.xmake/
cpp_bench/build/
